* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.Container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.Container ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #e7e7e7, #ff6e7f);
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.ContactBox {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url(Donationform.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10PX;
    color: red;
}

h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4PX;
    width: 50PX;
    border-radius: 2px;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgb(0, 0, 0, 0);
    background-color: rgb(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Start Style Gender */
div.radio-wrapper {
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    color: #e02c2c;
}

div.radio-container {
    background-color: #e02c2c;
    display: inline-block;
    border: 2px solid #e02c2c;
}

div.radio-container input[type=radio] {
    opacity: 0;
    display: none;
    margin: 0;
    outline: none;
}

div.radio-container input[type="radio"]:checked+label {
    background-color: #e02c2c;
    color: white;
    animation-name: radio-active;
    animation-duration: 0.2s;
}

@keyframes radio-active {
    from {
        transform: scale(0.6, 0.6);
    }

    to {
        transform: scale(1, 1);
    }
}

div.radio-container label {
    padding: 0.1em;
    cursor: pointer;
    background: none;
    display: inline-block;
    outline: none;
    letter-spacing: 0.1em;
    background-color: white;
    color: black;
    transition: all ease-in-out 0.1s;
}

/* End Style Gender */
.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #b83131;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #e02c2c;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 780px) {
    /* .contact-box {
        grid-template-columns: 1fr;
    } */
    .right{
        display: inline-block;
        width: 100%;
    }
    .ContactBox {

        grid-template-columns: repeat(1, 1fr);
        opacity: 95%;
        
    }

    .left {
       display: none;

    }
}
