body{
    background: rgb(221, 172, 172);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#Splash{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(34, 31, 31);
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 8s;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.Load{
    width: 500px;
}
#Splash.fade{
    opacity: 0;
}
#H1{
    text-align: center;
    margin: 10px;
    padding: 10px;
    
    color: white;
}
























